body {
    font-family: Arial, sans-serif;
    text-align: center;
    background: #ffe9d6;
    padding: 20px;
}

#pet-box img {
    width: auto;
    height: 300px;
    margin-bottom:20px;
}

#actions button {
    padding: 10px 20px;
    margin: 10px;
    border: none;
    background: #ffb381;
    color: white;
    cursor: pointer;
    border-radius: 6px;
    font-size: 16px;
}

#actions button:hover {
    background: #ff9357;
}

#stats {
    display: flex;
    align-items: center;
    gap: 40px;
    margin: 30px 0;
}

.stat{
    width: 220px;
    text-align: center;
}

.stat-label {
    width: 90px;
    text-align: right;
    font-weight: bold;
}


.bar {
    width: 100%;
    height: 16px;
    background: #ddd;
    border-radius: 8px;
    overflow: hidden;

}


.fill {
    height: 100%;
    width: 0%;
    background: #ff9f68;
    transition: width 0.4s ease;
}

@keyframes pulse {
    0%   { opacity: 1; }
    50%  { opacity: 0.5; }
    100% { opacity: 1; }
}

.fill.pulse {
    animation: pulse 1s infinite;
}


@keyframes shake {
    0% { transform: translateX(0); }
    25% { transform: translateX(-4px); }
    50% { transform: translateX(4px); }
    75% { transform: translateX(-4px); }
    100% { transform: translateX(0); }
}

.petDanger {
    animation: shake 0.4s infinite;
}
